# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.whl

# Environment variables
.env
.env.*

# Data (CSV bruts — trop lourds pour Git)
data/olist/*.csv
data/olist/raw/

# Databricks
.databricks/

# IDE
.vscode/
.idea/

# Tests / Coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
